.text__header{
  font-size: 3rem;
}

.services{
  align-items: center;
  gap: .3rem;
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 990px){
  .services{
    flex-direction: row;
    gap: 2rem;
    &__back{
      width: 93%;
      &-img{
        margin: 0 auto;
        width: 60%;
      }
    }
  }

  .services__front-img, .services__back-img{
    transition: all .3s ease-in-out;

    &:hover{
      transform: scale(1.01);
    }
  }
}
